footer {
    max-width: 1920px;
    margin: 100px auto 0;
    padding: 30px 0 38px;;
    background: url('../img/bg/footer1920.jpg') center top no-repeat;
    background-size: cover;

    .footer-top {
        display: flex;
        justify-content: center;
    }

    .phone {
        width: 390px;
        height: 270px;
        position: relative;
        &>div {
            position: absolute;
            top: -135px;
            right: 20px;
            overflow: hidden;
            width: 385px;
            height: 500px;
            &>img {
                height: 100%;
            }
        }
        
    }

    .pseudo-content {
        min-height: 80px;
    }

    .footer {
        &__telegramm {
            margin-left: 40px;
            padding-left: 20px;
            width: 490px;
            position: relative;
            z-index: 3;
        }

        &__subtitle {
            margin: 18px 0 25px;
            font-family: Uni Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 0.025em;
            color: #FFFFFF;
        }

        &__list {
            list-style: none;
            padding-right: 110px;

            &__item {
                position: relative;
                font-family: Uni Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.025em;
                color: #FFFFFF;
                margin-top: 10px;
                padding-left: 48px;

                &::before {
                    $wh_before_orig: 25px;
                    content: "";
                    display: block;
                    width: $wh_before_orig;
                    height: $wh_before_orig;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background: #C4C4C4;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    footer {
        .phone {
            &>div {
                top: -110px;
            }
        }

        .social__logo {
            width: 160px;
        }
        
        .link {
            $wh_foot-1024: 25px;
            width: $wh_foot-1024 !important;
            height: $wh_foot-1024 !important;
        }

        .pseudo-content {
            min-height: 180px;
        }
    
        .footer {
            &__telegramm {
                margin-left: 0;
                width: auto;
            }
            
        }
    }
}

@media (max-width: 768px) {
    footer {
        // padding: 0;//
        // background: url('../img/bg/bg_footer_768px.png') center top no-repeat;//
        // background-color: #000;//
        .phone {
            &>div {
                width: 45vw;
                height: 59vw;
                top: -102px;
            }
        }

        .social__logo {
            width: 140px;
        }
        
        .pseudo-content {
            min-height: 80px;
        }
        
        .footer {
            &__telegramm {
                margin-left: 0;
                width: 620px;
                .title__footer {
                    font-size: 29px;
                }
            }
            &__subtitle {
                font-size: 16px;
            }
            &__list {
                padding-right: 15vw;
                &__item {
                    font-size: 10px;
                    line-height: 14px;
                    padding-left: 30px;
                    &::before {
                        $before-s: 20px;
                        width: $before-s;
                        height: $before-s;
                    }
                }
            }
        }
    }
}



@media (max-width: 426px) {
    footer {
        margin-top: 30px;
        // padding: 1px;//
        // background: url('../img/bg/bg_mobile_footer.png') center top no-repeat;//
        background-size: contain;
        background-color: #000;//

        .phone {
            width: auto;
            &>div {
                width: 150px;
                height: 250px;
                right: 0;
                top: -65px;
            }
        }

        .social {
            display: block;
            margin-top: 20px;
            &__links {
                &__foot {
                    position: static;
                    margin-top: 30px;
                    justify-content: center;
                }
            }
            &__logo {
                width: 160px;
            }
            &__links {
                .link {
                    $wh_foot-426: 30px;
                    width: $wh_foot-426 !important;
                    height: $wh_foot-426 !important;
                    border-radius: 5px;
                }
            }
        }
        
        
        .pseudo-content {
            min-height: 0;
        }
        
        .footer {
            &__telegramm {
                margin-top: 0;
                width: auto;
                .title__footer {
                    font-size: 6.5vw;
                    padding-right: 50px;
                }
            }
            &__subtitle {
                padding-right: 110px;
                font-size: 4vw;
                min-height: 80px;
            }
            &__list {
                margin-top: 40px;
                padding: 0;
                &__item {
                    font-size: 16px;
                    line-height: 20px;
                    padding-right: 10px;
                    &::before {
                        $S_before: 15px;
                        width: $S_before;
                        height: $S_before;
                    }
                }
            }
        }
    }
}